* {
  background: #F9F6E4;

}

/*FONTS NEED TO BE FIXED, haha FIXED!!!*/
@font-face{
    font-family: 'Amble-Light';
    src: url('../fonts/Amble-Light.ttf') format('truetype')
    font-weight:normal;
    font-style: normal;
  }

@font-face{
  font-family: 'Alice-Regular';
  src: url('../fonts/Alice-Regular.ttf') format('truetype')
  font-weight:normal;
  font-style:normal;
}

/*first letter of each paragraph */
p::first-letter{ color:#7AD690; font-weight:bold; font-size:30px;}

p{
  padding: 1em;
}

/*REMEMBER # for id, . for class*/

#info{
  font-family: 'Amble-Light', sans-serif;
  font-weight: normal;
  text-align: center;
  font-variant: small-caps;
}

#writting{
  font-family: 'Alice-Regular', Courier, serif;
  font-weight: normal;
}

a:link{
  color:blue;
}

a:visited {
  color: green;
}

a:hover{
  color:blue;
}

h2{
  letter-spacing: 0.5px;
}

h4{
  letter-spacing: 5px;
}
