@font-face{
    font-family: 'Dealerplate California';
    src: url('../fonts/dealerplate_california.ttf') format('truetype')
    font-weight:normal;
    font-style: normal;
  }

@font-face{
  font-family: 'Futrw';
  src: url('../fonts/FUTRW.ttf') format('truetype')
  font-weight:normal;
  font-style:normal;
}


#title{
  font-size: 30px;
  font-family: Futrw, monospace;
}

.menu-item {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 50px;
    margin-top: 20px;
    min-width: 8em;
    text-align: left;
    background-color: white;
    padding: 10px;
    font-family: Dealerplate California, monospace;
    font-size: 15px;
}

.menu-item a {
    color: black;
    text-decoration: none;
}
.menu-item:hover {

    font-size: 17px;
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px;
    margin: 0;
    margin-top: 0.5em;
    color: black;
    background-color: white;
    z-index: 1;
    font-family: Dealerplate California, monospace;
    font-size: 15px;

}
.dropdown-content a {
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 7px;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 7em;
    font-family: monospace;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    font-size: 17px;

}

.text {
  color: white;
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  padding:7%;
  float: center;
  font-family: Dealerplate California, monospace;
}

.content{
  text-align: center;
  font-size: 80px;
  font-family: Dealerplate California, monospace;
  padding: 10px;
}

.box1{
  display: inline-block;
  width: 20%;
  height:100px;
  border: none;
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 50px;
  margin-bottom: 5px;
  background-color: #808080;
  float: center;
}

.box2{
  display: inline-block;
  width: 40%;
  height:100px;
  border: none;
  margin-top: 50px;
  margin-right: 50px;
  padding-left: 0px;
  margin-bottom: 5px;
  background-color: #dec1c1;
  float: right;
}

.box3{
  display: inline-block;
  width: 60%;
  height:100px;
  border: none;
  margin-top: 5px;
  margin-left: 50px;
  padding-left: 0px;
  background-color: #2e1c1c;
  float: center;
}

.box4{
    display: inline-block;
    width: 10%;
    height:100px;
    border: none;
    margin-top: 5px;
    margin-right: 50px;
    padding-left: 0px;
    background-color: #000000;
    float: right;
  }

  .box5{
    display: inline-block;
    width: 500px;
    height:100px;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    background-color: #fcebeb;
    float: center;
  }

  .images{
    float: center;
  }

  .button{
    float: right;
  }
